In [2]:
import pandas as pd
import numpy as np
import sklearn 
import scipy

%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
#графики в svg выглядят более четкими
%config InlineBackend.figure_format = 'svg' 
# from pylab import rcParams
# rcParams['figure.figsize'] = 8, 5



import warnings
warnings.simplefilter('ignore')


from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split


from sklearn.linear_model import SGDClassifier, LogisticRegression 
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import Perceptron
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.multiclass import OneVsRestClassifier

#from mlxtend.feature_selection import SequentialFeatureSelector

https://habr.com/ru/company/mlclass/blog/247751/

In [8]:
ls

1.jpg                           Maksim_Kumundzhiev_Haensel.pdf
2.jpg                           Preparing.txt
3.jpg                           Screening interview.ipynb
4.jpg                           Summarize.ipynb
Haensel/                        Tets_solution.ipynb
Haensel.py                      boruta-feature-ranking.csv

In [3]:
dic = {295: 'y'}
data = pd.read_csv('Sample.csv', header = None)

FileNotFoundError: [Errno 2] File b'Sample.csv' does not exist: b'Sample.csv'

In [3]:
#pd.read_csv?

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,286,287,288,289,290,291,292,293,294,295
0,0,0,0,20000.0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,259.227165,B
1,0,0,0,7059.0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,271.983584,E
2,0,0,0,3150.0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,235.233437,D
3,0,0,0,24000.0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,415.104389,C
4,0,0,0,5600.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,462.230610,D

In [5]:
data = data.rename(columns=({295: 'y'}))

In [6]:
#data.rename?

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,286,287,288,289,290,291,292,293,294,y
0,0,0,0,20000.0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,259.227165,B
1,0,0,0,7059.0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,271.983584,E
2,0,0,0,3150.0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,235.233437,D
3,0,0,0,24000.0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,415.104389,C
4,0,0,0,5600.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,462.230610,D

In [8]:
data.describe().T.head()

     count          mean          std   min     25%     50%      75%      max
0  66137.0      0.004249     0.065044   0.0     0.0     0.0      0.0      1.0
1  66137.0      0.014757     0.120581   0.0     0.0     0.0      0.0      1.0
2  66137.0      0.003765     0.061244   0.0     0.0     0.0      0.0      1.0
3  66137.0  11226.207294  8153.148240  13.0  4000.0  9614.8  18984.0  72360.0
4  66137.0      0.213511     0.609365   0.0     0.0     0.0      0.0     10.0

In [9]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66137 entries, 0 to 66136
Data columns (total 296 columns):
0      int64
1      int64
2      int64
3      float64
4      int64
5      int64
6      int64
7      int64
8      int64
9      int64
10     int64
11     int64
12     int64
13     int64
14     int64
15     int64
16     int64
17     int64
18     int64
19     int64
20     int64
21     int64
22     int64
23     int64
24     int64
25     int64
26     int64
27     int64
28     int64
29     int64
30     int64
31     int64
32     int64
33     int64
34     int64
35     int64
36     int64
37     int64
38     int64
39     int64
40     int64
41     int64
42     int64
43     float64
44     int64
45     int64
46     int64
47     int64
48     int64
49     int64
50     int64
51     int64
52     int64
53     int64
54     int64
55     int64
56     int64
57     int64
58     int64
59     int64
60     int64
61     int64
62     int64
63     int64
64     float64
65     int64
66     int64
67     int64
68     int64
69     int64
70     int64
71     int64
72     int64
73     int64
74     int64
75     int64
76     int64
77     int64
78     int64
79     int64
80     int64
81     int64
82     int64
83     int64
84     int64
85     int64
86     int64
87     int64
88     int64
89     int64
90     int64
91     int64
92     int64
93     int64
94     int64
95     int64
96     int64
97     int64
98     int64
99     int64
100    int64
101    int64
102    int64
103    int64
104    int64
105    int64
106    int64
107    int64
108    int64
109    int64
110    int64
111    int64
112    int64
113    int64
114    int64
115    int64
116    int64
117    int64
118    int64
119    int64
120    int64
121    int64
122    int64
123    int64
124    int64
125    int64
126    int64
127    int64
128    int64
129    int64
130    int64
131    int64
132    int64
133    int64
134    int64
135    int64
136    int64
137    int64
138    int64
139    int64
140    int64
141    int64
142    int64
143    int64
144    int64
145    int64
146    int64
147    int64
148    int64
149    int64
150    int64
151    int64
152    int64
153    int64
154    int64
155    int64
156    int64
157    int64
158    int64
159    int64
160    int64
161    int64
162    int64
163    int64
164    int64
165    int64
166    int64
167    int64
168    int64
169    int64
170    int64
171    int64
172    int64
173    int64
174    int64
175    int64
176    int64
177    int64
178    int64
179    int64
180    int64
181    int64
182    int64
183    int64
184    int64
185    int64
186    int64
187    int64
188    int64
189    int64
190    int64
191    int64
192    int64
193    int64
194    int64
195    int64
196    int64
197    int64
198    int64
199    int64
200    int64
201    int64
202    int64
203    int64
204    int64
205    int64
206    int64
207    int64
208    int64
209    int64
210    int64
211    int64
212    int64
213    int64
214    int64
215    int64
216    int64
217    int64
218    int64
219    int64
220    int64
221    int64
222    int64
223    int64
224    int64
225    int64
226    int64
227    int64
228    int64
229    int64
230    int64
231    int64
232    int64
233    int64
234    int64
235    int64
236    int64
237    int64
238    int64
239    int64
240    int64
241    int64
242    int64
243    int64
244    int64
245    int64
246    int64
247    int64
248    int64
249    int64
250    int64
251    int64
252    int64
253    int64
254    int64
255    int64
256    int64
257    int64
258    int64
259    int64
260    int64
261    int64
262    int64
263    int64
264    int64
265    int64
266    int64
267    int64
268    int64
269    int64
270    int64
271    int64
272    int64
273    int64
274    int64
275    int64
276    int64
277    int64
278    int64
279    int64
280    int64
281    int64
282    int64
283    int64
284    int64
285    int64
286    int64
287    int64
288    int64
289    int64
290    int64
291    int64
292    int64
293    int64
294    float64
y      object
dtypes: float64(4), int64(291), object(1)
memory usage: 149.4+ MB

In [10]:
#data.info?

In [11]:
data.isnull().head()

,0,1,2,3,4,5,6,7,8,9,...,286,287,288,289,290,291,292,293,294,y
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**Spliting on X and y** / возможна идея сделать только 2 класса и свести задачу к бинароной классификации

In [12]:
dic = {'A' : 0, 'B' : 1, 'C' : 2, 'D' : 3, 'E' : 4}
y = data['y'].map(dic)

In [13]:
y.value_counts()

2    46882
3     9279
1     6602
4     2507
0      867
Name: y, dtype: int64

In [14]:
X = data.drop('y', axis = 1)

In [15]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,285,286,287,288,289,290,291,292,293,294
0,0,0,0,20000.0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,259.227165
1,0,0,0,7059.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,271.983584
2,0,0,0,3150.0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,235.233437
3,0,0,0,24000.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,415.104389
4,0,0,0,5600.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,462.230610

**Normalization**

In [ ]:
from sklearn import preprocessing
# normalize the data attributes
normalized_X = pd.DataFrame(data = preprocessing.normalize(X))
# standardize the data attributes
standardized_X = pd.DataFrame(data = preprocessing.scale(X))

In [ ]:
normalized_X.T.head()

In [ ]:
normalized_X.describe()

**Feature Extraction**

In [ ]:
# from sklearn import metrics
# from sklearn.ensemble import ExtraTreesClassifier
# model = ExtraTreesClassifier()
# model.fit(X, y)
# # display the relative importance of each attribute
# print(model.feature_importances_)

In [ ]:
# from sklearn.feature_selection import RFE
# from sklearn.linear_model import LogisticRegression
# model = LogisticRegression()
# # create the RFE model and select 3 attributes
# rfe = RFE(model, 3)
# rfe = rfe.fit(X, y)
# # summarize the selection of the attributes
# print(rfe.support_)
# print(rfe.ranking_)

Fit and evaluate model with different algorithms on crossvalidatition

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold, cross_val_score

In [ ]:
#Define the Kfold
kf = KFold(n_splits=5, random_state=42, shuffle=True)
#kf.get_n_splits(X)
print(kf)

In [ ]:
for train_index, test_index in kf.split(X):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = normalized_X.iloc[train_index], normalized_X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [ ]:
# Check the shape
X_train.shape, y_train.shape, X_test.shape, y_test.shape

In [ ]:
def get_auc_knn_valid(X, y, neighbours_number, seed):
    %time
    res = []
    for num_neighb in range(1,neighbours_number):
        knn = KNeighborsClassifier(n_neighbors=num_neighb, n_jobs = -1)
        estimator = knn
        prediction = cross_val_score(estimator, X_train, y_train, scoring='accuracy', cv = kf)
        res.append([prediction.mean(), num_neighb])
        #print(f'num_k %d'%num_neighb, prediction.mean())
        return(max(res))

In [ ]:
get_auc_knn_valid(X_train, y_train, neighbours_number = 51, seed = 42)

**Perceptron**

In [ ]:
model = Perceptron(random_state = 241)
model.fit(X_train,y_train )
predict = model.predict(X_test)
print(metrics.classification_report(predict, y_test))

**Logistic Regression**

In [ ]:
C = 1.0
# C = 1e4
#C = 1e-2
def get_auc_lr_valid(X, y, C = C, seed = 42):
    %time
    logit = LogisticRegression(n_jobs = -1, random_state = seed, C = C, multi_class='multinomial', solver='lbfgs')
    #logit = LogisticRegression(n_jobs = -1, random_state = seed, C = C, multi_class='ovr', solver='lbfgs')
    estimator = logit
    prediction = cross_val_score(estimator, X_train, y_train, scoring='accuracy', cv = kf)
    return (prediction.mean())

In [ ]:
get_auc_lr_valid(X_train, y_train, C = 1.0, seed = 42)

**SGDClassifier**

In [ ]:
def get_auc_sgd_valid(X, y, seed = 42):
    %time
    #sgd_logit = sklearn.linear_model.SGDClassifier(loss = 'log', random_state = seed, n_jobs = -1)
    sgd_logit = sklearn.linear_model.SGDClassifier(loss = 'log', learning_rate='adaptive', eta0 = 0.05,
                                              penalty = 'l2',  random_state = 17, n_jobs = -1)
    estimator = sgd_logit
    prediction = cross_val_score(estimator, X_train, y_train, scoring='accuracy', cv = kf)
    return prediction.mean()

In [ ]:
get_auc_sgd_valid(X_train, y_train, seed=42)

**RandomForestClassifier**

In [ ]:
def get_auc_RANDOM_FOREST_valid(X, y, seed = 42):
    %time
    rand_forest = RandomForestClassifier(n_estimators = 100, max_depth=2, random_state = seed)
    estimator = rand_forest
    prediction = cross_val_score(estimator, X_train, y_train, scoring='accuracy', cv = kf)
    return prediction.mean()

In [ ]:
get_auc_RANDOM_FOREST_valid(X_train, y_train)

**Naive Bayes GaussianNB**

In [ ]:
def get_auc_Bayes_valid(X, y):
    %time
    bayes_model = GaussianNB(var_smoothing=1e-09)
    estimator = bayes_model
    prediction = cross_val_score(estimator, X_train, y_train, scoring='accuracy', cv = kf)
    return prediction.mean()

In [ ]:
get_auc_Bayes_valid(X_train, y_train)

**GradientBoostingClassifier**

In [ ]:
def get_auc_GBM_valid(X, y):
    %time
    result = []
    for lr in np.linspace(0.05, 0.2, 20):
        for n_est in range(40, 70):
            GBM_model = GradientBoostingClassifier(learning_rate = lr, n_estimators = n_est,
                                                   min_samples_leaf = 50, min_samples_split = 500, max_depth = 8,
                                                   max_features = 'sqrt')
                                           
    estimator = GBM_model
    prediction = cross_val_score(estimator, X_train, y_train, scoring='accuracy', cv = kf)
    result.append(prediction.mean())
    return result

In [ ]:
get_auc_GBM_valid(X_train, y_train)

**Linear_SVM**

In [ ]:
# # (C=1.0, kernel=’rbf’, degree=3, gamma=’auto_deprecated’, coef0=0.0, shrinking=True, probability=False, tol=0.001, cache_size=200, class_weight=None, 
# #  verbose=False, max_iter=-1, decision_function_shape=’ovr’, random_state=None)
# #C = 1e4
# #C = 1e-2
# #C = 1.0
# def get_auc_One_VS_valid(X, y, seed = 42):
#     %time
#     One_VS = OneVsRestClassifier()
#     One_VS.fit(X_train, y_test)
#     predicted = One_VS.predict(X_test)
#     # summarize the fit of the model
#     expected = y_test
#     print(metrics.classification_report(expected, predicted))
#     print(metrics.confusion_matrix(expected, predicted))
#     #estimator = One_VS
#     #prediction = cross_val_score(estimator, X_train, y_train, scoring='accuracy', cv = kf)
#     return (metrics.classification_report(expected, predicted))

In [ ]:
# get_auc_SVM_valid(X_train, y_train, seed = 42)

**Feature Engineering**

In [ ]:
#sns.distplot(normalized_X[1])

In [ ]:
selector = SequentialFeatureSelector(LogisticRegression(), 
                                     scoring='neg_log_loss', verbose=2, 
                                     k_features=3, forward=False, n_jobs=-1)

In [ ]:
selector.fit(X_train, y_train)

In [ ]:
data.corr()

In [ ]:
# from pandas.plotting import scatter_matrix
# scatter_matrix(data);

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=10)
pca.fit(normalized_X)
print(pca.explained_variance_ratio_)

In [ ]:
print (pca.components_)

**Factor analysis**

In [ ]:
from sklearn.decomposition import FactorAnalysis

fa = FactorAnalysis(n_components=2)
fa.fit(normalized_X)

In [ ]:
pd.DataFrame(fa.components_, columns=normalized_X.columns)

In [ ]:
print('Uniqueness:')
pd.Series(fa.noise_variance_, normalized_X.columns)

In [ ]:
scores = pd.DataFrame(fa.transform(normalized_X), columns=['factor1', 'factor2'])
scores.head()

**Check different models with new data frame Scores**

In [ ]:
for train_index, test_index in kf.split(scores):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = scores.iloc[train_index], scores.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
get_auc_knn_valid(X_train, y_train, neighbours_number = 50, seed = 42)

In [ ]:
get_auc_lr_valid(X_train, y_train, C = 1.0, seed = 42)

In [ ]:
get_auc_sgd_valid(X_train, y_train, seed=42)

In [ ]:
get_auc_RANDOM_FOREST_valid(X_train, y_train)

In [ ]:
get_auc_Bayes_valid(X_train, y_train)

In [ ]:
get_auc_GBM_valid(X_train, y_train)

In [ ]:
test = pd.DataFrame(data = normalized_X.drop([268, 269, 270, 271, 272, 273, 274, 275], axis = 1))

In [ ]:
test.shape

In [ ]:
for train_index, test_index in kf.split(test):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = test.iloc[train_index], test.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
def all_models(X, y):
    print(get_auc_knn_valid(X_train, y_train, neighbours_number = 50, seed = 42), 'KNN')
    print(get_auc_lr_valid(X_train, y_train, C = 1.0, seed = 42), 'LogRegr')
    print(get_auc_sgd_valid(X_train, y_train, seed=42), 'SGD')
    print(get_auc_RANDOM_FOREST_valid(X_train, y_train), 'Rand Forest')
    print(get_auc_Bayes_valid(X_train, y_train), 'Bayes')
    print(get_auc_GBM_valid(X_train, y_train), 'GradBoostMachine')

In [ ]:
all_models(X_train, y_train)

In [ ]:
# Import your necessary dependencies
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [ ]:
# Feature extraction
model = LogisticRegression()
rfe = RFE(model, 10)
fit = rfe.fit(normalized_X, y)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

In [ ]:
from sklearn.feature_selection import RFECV
from sklearn.metrics import accuracy_score, confusion_matrix
 
# RFE
rfe = RFECV(estimator=LogisticRegression(), cv=4, scoring='accuracy')
rfe = rfe.fit(X_train, y_train)
 
# Select variables and calulate test accuracy
cols = X_train.columns[rfe.support_]
acc = accuracy_score(y_test, rfe.estimator_.predict(X_test[cols]))
print('Number of features selected: {}'.format(rfe.n_features_))
print('Test Accuracy {}'.format(acc))
 
# Plot number of features vs CV scores
plt.figure()
plt.xlabel('k')
plt.ylabel('CV accuracy')
plt.plot(np.arange(1, rfe.grid_scores_.size+1), rfe.grid_scores_)
plt.show()

In [ ]:
feat_test_10 = pd.DataFrame(normalized_X[[2,21,26,33,36,40,59,271,281,294]])

In [ ]:
feat_test_10.head()

In [ ]:
for train_index, test_index in kf.split(feat_test_10):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = feat_test_10.iloc[train_index], feat_test_10.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
all_models(X_train, y_train)

**From Scratch test solution with LightGBM**

In [ ]:
import lightgbm as lgb

In [ ]:
dataset = pd.read_csv('Sample.csv', header = None)

In [ ]:
features = []
categorical_features = []
num_of_columns = dataset.shape[1]
 
for i in range(0, num_of_columns):
    column_name = dataset.columns[i]
    column_type = dataset[column_name].dtypes
    if i != num_of_columns - 1:
        features.append(column_name) #skip target

In [ ]:
print('num_of_columns', num_of_columns)
print('features', features)
print('categorical_features', categorical_features)

In [ ]:
dic = {'A' : 0, 'B' : 1, 'C' : 2, 'D' : 3, 'E' : 4}
dataset[295] = dataset[295].map(dic)

In [ ]:
y = dataset[295].values
X = dataset.drop(columns=[295]).values

In [ ]:
# split on training and test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [ ]:
lgb_train = lgb.Dataset(X_train, y_train
 ,feature_name = features
)

In [ ]:
lgb_train

In [ ]:
# Training, but before to set up params

In [ ]:
params = {
 'task': 'train'
 , 'boosting_type': 'gbdt'
 , 'objective': 'multiclass' 
 , 'num_class': 295
 , 'metric': 'multi_logloss'
 , 'min_data': 1
 , 'verbose': -1
}

In [ ]:
#gbm = lgb.train(params, lgb_train, num_boost_round=50)

**Boruta Implementation Tut MlCourse(Features sellection)**

In [1]:
# import the demanded libraries 
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from boruta import BorutaPy
import numpy as np
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score

**Валидировать алгоритм будем на 3 фолдах, в качестве метрики будем использовать ROC AUC score.**

In [28]:
from boostaroota import BoostARoota
import pandas as pd

# #OHE the variables - BoostARoota may break if not done
# x = pd.getdummies(x)
# #Specify the evaluation metric: can use whichever you like as long as recognized by XGBoost
#   #EXCEPTION: multi-class currently only supports "mlogloss" so much be passed in as eval_metric
# br = BoostARoota(metric='logloss')

# #Fit the model for the subset of variables
# br.fit(x, y)

# #Can look at the important variables - will return a pandas series
# br.keep_vars_

# #Then modify dataframe to only include the important variables
# br.transform(x)

ModuleNotFoundError: No module named 'boostaroota'