### The main task is following: 
 - read sample.csv file
 - using data in sample.csv file calculate:
  - Typical Price
  - Positive Money Flow
  - Negative Money Flow
  - Positive Money Flow Sum
  - Negative Money Flow Sum
  - Money Flow Index
  
- add this values as new columns in output.csv

In [11]:
# import libraries 
import pandas as pd

In [6]:
#read data
data = pd.read_csv('sample.csv')

In [12]:
#create a list of desired columns_names
list_of_columns = ['Typical Price', 'Positive Money Flow', 'Negative Money Flow',
                   'Positive Money Flow Sum', 'Negative Money Flow Sum', 'Money Flow Index']

#add list of columns to existing dataframe
for column_name in list_of_columns:
    data['{}'.format(column_name)] = 1
    
    
data.head()

,Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Money Flow Sum,Money Flow Index
0,1,47.04,48.24,47.04,48.15,3509,1,1,1,1,1,1
1,2,48.17,48.89,47.97,48.36,4862,1,1,1,1,1,1
2,3,48.55,49.71,48.52,49.55,1810,1,1,1,1,1,1
3,4,49.55,49.87,48.51,49.41,3824,1,1,1,1,1,1
4,5,49.41,49.96,45.84,46.36,2209,1,1,1,1,1,1

### calculate values for new columns

In [19]:
# Typical Price
#The formula of Typical Price = ( High Price + Low Price + Close Price ) / 3
data['Typical Price'] = data['High'] + data['Low'] + data['Close'] / 3

In [26]:
# Positive Money Flow
# data['Positive Money Flow'] = data['Typical Price'] * data['Volume']
# data['Negative Money Flow'] = data['Typical Price'] * data['Volume']


data.head()

,Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Money Flow Sum,Money Flow Index
0,1,47.04,48.24,47.04,48.15,3509,111.330000,1,1,1,1,1
1,2,48.17,48.89,47.97,48.36,4862,112.980000,1,1,1,1,1
2,3,48.55,49.71,48.52,49.55,1810,114.746667,1,1,1,1,1
3,4,49.55,49.87,48.51,49.41,3824,114.850000,1,1,1,1,1
4,5,49.41,49.96,45.84,46.36,2209,111.253333,1,1,1,1,1

In [37]:
#Positive Money Flow, when previous Typical Price is less
#Negative Money Flow, when previous Typical Price is more

#define empty list of values
Positive = []
Negative = []

#for each value in data['Typical Price'] make a comperison between value[index - 1] AND value[index]
for index in range(1, len(data['Typical Price'])):
    if data['Typical Price'][index - 1] < data['Typical Price'][index]:
        Positive.append(data['Typical Price'][index])
    else:
        Negative.append(data['Typical Price'][index])

#List of results: Positive Money Flow and Negative Money Flow         
# print('P', Positive)
# print('N', Negative)

In [45]:
#Positive Money Flow sum
Positive_Sum = sum([value for value in Positive])

#Negative Money Flow sum
Negative_Sum = sum([value for value in Negative])

In [46]:
print(Positive_Sum, Negative_Sum)

1070.6233333333332 931.7166666666668

[Link to formulas](https://www.investopedia.com/terms/m/mfi.asp)

#### In order to calculate Money Flow Index we need:
```
 - Money_Flow_Ration = Positive_Money_Flow / Negative_Money_Flow
```

``` 
 - Money_Flow_Index =  100 - (100 / 1 + Money_Flow_Ration)
```

In [48]:
Money_Flow_Ration = Positive_Sum / Negative_Sum

Money_Flow_Index = 100 - (100 / 1 + Money_Flow_Ration)

Money_Flow_Index

-1.1490868110834782

In [50]:
t = pd.read_csv('sample_output_10.csv')

In [51]:
t

,Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Money Flow Sum,Money Flow Index
0,1,47.04,48.24,47.04,48.15,3509,47.810000,NaN,NaN,NaN,NaN,NaN
1,2,48.17,48.89,47.97,48.36,4862,48.406667,235353.213333,NaN,NaN,NaN,NaN
2,3,48.55,49.71,48.52,49.55,1810,49.260000,89160.600000,NaN,NaN,NaN,NaN
3,4,49.55,49.87,48.51,49.41,3824,49.263333,188382.986667,NaN,NaN,NaN,NaN
4,5,49.41,49.96,45.84,46.36,2209,47.386667,NaN,104677.146667,NaN,NaN,NaN
5,6,46.35,46.51,44.61,45.60,4558,45.573333,NaN,207723.253333,NaN,NaN,NaN
6,7,45.54,45.54,43.63,44.02,3832,44.396667,NaN,170128.026667,NaN,NaN,NaN
7,8,44.05,44.49,43.19,43.57,3778,43.750000,NaN,165287.500000,NaN,NaN,NaN
8,9,43.63,45.29,43.63,45.00,1005,44.640000,44863.200000,NaN,NaN,NaN,NaN
9,10,44.96,44.96,42.88,43.44,4047,43.760000,NaN,177096.720000,NaN,NaN,NaN
10,11,43.44,45.01,43.24,44.90,2201,44.383333,97687.716667,NaN,655447.716667,8.249126e+05,44.276227
11,12,44.90,45.53,44.76,45.18,2507,45.156667,113207.763333,NaN,533302.266667,8.249126e+05,39.264940
12,13,45.13,45.13,43.78,44.39,4392,44.433333,NaN,195151.200000,444141.666667,1.020064e+06,30.333287
13,14,44.09,44.24,42.70,42.95,3497,43.296667,NaN,151408.443333,255758.680000,1.171472e+06,17.919922
14,15,43.09,43.57,42.56,43.08,1181,43.070000,NaN,50865.670000,255758.680000,1.117661e+06,18.622037
15,16,42.94,43.90,42.25,42.52,1971,42.890000,NaN,84536.190000,255758.680000,9.944738e+05,20.456891
16,17,42.64,44.08,42.62,43.99,4994,43.563333,217555.286667,NaN,473313.966667,8.243457e+05,36.474429
17,18,43.99,45.32,43.90,45.23,2017,44.816667,90395.216667,NaN,563709.183333,6.590582e+05,46.101097
18,19,45.23,45.62,44.37,44.82,2823,44.936667,126856.210000,NaN,645702.193333,6.590582e+05,49.488181
19,20,44.83,45.73,44.03,45.63,2774,45.130000,125190.620000,NaN,770892.813333,4.819615e+05,61.530922