### The main task is following: 
 - read sample.csv file
 - using data in sample.csv file calculate:
  - Typical Price
  - Positive Money Flow
  - Negative Money Flow
  - Positive Money Flow Sum
  - Negative Money Flow Sum
  - Money Flow Index
  
- add this values as new columns in output.csv

In [11]:
# import libraries 
import pandas as pd

In [6]:
#read data
data = pd.read_csv('sample.csv')

In [12]:
#create a list of desired columns_names
list_of_columns = ['Typical Price', 'Positive Money Flow', 'Negative Money Flow',
                   'Positive Money Flow Sum', 'Negative Money Flow Sum', 'Money Flow Index']

#add list of columns to existing dataframe
for column_name in list_of_columns:
    data['{}'.format(column_name)] = 1
    
    
data.head()

,Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Money Flow Sum,Money Flow Index
0,1,47.04,48.24,47.04,48.15,3509,1,1,1,1,1,1
1,2,48.17,48.89,47.97,48.36,4862,1,1,1,1,1,1
2,3,48.55,49.71,48.52,49.55,1810,1,1,1,1,1,1
3,4,49.55,49.87,48.51,49.41,3824,1,1,1,1,1,1
4,5,49.41,49.96,45.84,46.36,2209,1,1,1,1,1,1

### calculate values for new columns

In [19]:
# Typical Price
#The formula of Typical Price = ( High Price + Low Price + Close Price ) / 3
data['Typical Price'] = data['High'] + data['Low'] + data['Close'] / 3

In [26]:
# Positive Money Flow
# data['Positive Money Flow'] = data['Typical Price'] * data['Volume']
# data['Negative Money Flow'] = data['Typical Price'] * data['Volume']


data.head()

,Day,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Money Flow Sum,Money Flow Index
0,1,47.04,48.24,47.04,48.15,3509,111.330000,1,1,1,1,1
1,2,48.17,48.89,47.97,48.36,4862,112.980000,1,1,1,1,1
2,3,48.55,49.71,48.52,49.55,1810,114.746667,1,1,1,1,1
3,4,49.55,49.87,48.51,49.41,3824,114.850000,1,1,1,1,1
4,5,49.41,49.96,45.84,46.36,2209,111.253333,1,1,1,1,1

In [37]:
#Positive Money Flow, when previous Typical Price is less
#Negative Money Flow, when previous Typical Price is more

#define empty list of values
Positive = []
Negative = []

#for each value in data['Typical Price'] make a comperison between value[index - 1] AND value[index]
for index in range(1, len(data['Typical Price'])):
    if data['Typical Price'][index - 1] < data['Typical Price'][index]:
        Positive.append(data['Typical Price'][index])
    else:
        Negative.append(data['Typical Price'][index])

#List of results: Positive Money Flow and Negative Money Flow         
# print('P', Positive)
# print('N', Negative)

In [45]:
#Positive Money Flow sum
Positive_Sum = sum([value for value in Positive])

#Negative Money Flow sum
Negative_Sum = sum([value for value in Negative])

In [46]:
print(Positive_Sum, Negative_Sum)

1070.6233333333332 931.7166666666668

[Link to formulas](https://www.investopedia.com/terms/m/mfi.asp)

#### In order to calculate Money Flow Index we need:
```
 - Money_Flow_Ration = Positive_Money_Flow / Negative_Money_Flow
```

``` 
 - Money_Flow_Index =  100 - (100 / 1 + Money_Flow_Ration)
```

In [48]:
Money_Flow_Ration = Positive_Sum / Negative_Sum

Money_Flow_Index = 100 - (100 / 1 + Money_Flow_Ration)

Money_Flow_Index

-1.1490868110834782