In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
data = pd.read_csv('sample.csv')

In [4]:
data.head()

   Day   Open   High    Low  Close  Volume
0    1  47.04  48.24  47.04  48.15    3509
1    2  48.17  48.89  47.97  48.36    4862
2    3  48.55  49.71  48.52  49.55    1810
3    4  49.55  49.87  48.51  49.41    3824
4    5  49.41  49.96  45.84  46.36    2209

In [11]:
Day = data['Day'].value_counts().astype(list)
Open = data['Open'].value_counts().astype(list)
High = data['High'].value_counts().astype(list)
Low = data['Low'].value_counts().astype(list)
Close = data['Close'].value_counts().astype(list)
Volume = data['Volume'].value_counts().astype(list)

In [26]:
file = open('sample.csv')

In [30]:
yolo = file.readline()

In [31]:
yolo.split(',')

['1', '47.04', '48.24', '47.04', '48.15', '3509\n']