In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv('train.csv')

In [5]:
data.head()

,0.826575,0.843082,0.805944,0.785864,0.772749,0.854208,0.863394,0.816732,0.829742,0.776793,...,0.010687,0.010919,0.011375,0.015069,0,0.1,0.2,1,0.3,1.1
0,0.766867,0.669694,0.636238,0.612133,0.639010,0.603999,0.583958,0.775580,0.815867,0.676433,...,0.050673,0.055661,0.079765,0.097522,0,0,0,1,0,1
1,0.962784,0.975387,0.963950,0.955206,0.956827,0.971538,0.975437,0.934207,0.858234,0.742964,...,0.232948,0.195177,0.221791,0.201402,0,0,0,1,0,1
2,0.758844,0.772668,0.791800,0.827195,0.861022,0.755208,0.669177,0.754382,0.675287,0.773369,...,0.297193,0.254088,0.221800,0.146297,0,0,1,0,0,0
3,0.767603,0.875207,0.866511,0.874739,0.818681,0.826858,0.842438,0.773873,0.877341,0.867682,...,0.129825,0.075116,0.060953,0.022725,0,0,1,0,0,0
4,0.856842,0.878284,0.881017,0.869739,0.860305,0.764807,0.828938,0.710882,0.756832,0.777766,...,0.053392,0.032324,0.022766,0.031615,0,0,1,0,0,0

In [8]:
data.rename(columns={'0': 'Beach', '0.1': 'Sunset', '0.2': 'Plants', '1': 'Field', '0.3': 'Mountains', '1.1' : 'Buildings'}, inplace=True)

In [9]:
data.head()

,0.826575,0.843082,0.805944,0.785864,0.772749,0.854208,0.863394,0.816732,0.829742,0.776793,...,0.010687,0.010919,0.011375,0.015069,Beach,Sunset,Plants,Field,Mountains,Buildings
0,0.766867,0.669694,0.636238,0.612133,0.639010,0.603999,0.583958,0.775580,0.815867,0.676433,...,0.050673,0.055661,0.079765,0.097522,0,0,0,1,0,1
1,0.962784,0.975387,0.963950,0.955206,0.956827,0.971538,0.975437,0.934207,0.858234,0.742964,...,0.232948,0.195177,0.221791,0.201402,0,0,0,1,0,1
2,0.758844,0.772668,0.791800,0.827195,0.861022,0.755208,0.669177,0.754382,0.675287,0.773369,...,0.297193,0.254088,0.221800,0.146297,0,0,1,0,0,0
3,0.767603,0.875207,0.866511,0.874739,0.818681,0.826858,0.842438,0.773873,0.877341,0.867682,...,0.129825,0.075116,0.060953,0.022725,0,0,1,0,0,0
4,0.856842,0.878284,0.881017,0.869739,0.860305,0.764807,0.828938,0.710882,0.756832,0.777766,...,0.053392,0.032324,0.022766,0.031615,0,0,1,0,0,0

In [11]:
data.shape

(1437, 300)